/charts
/code/.Rproj.user
/code/misc_programs
/console_output
/data
JDS_manuscript/_config.yml
/JDS_manuscript/JDS references
JDS_manuscript/jds_sample.aux
JDS_manuscript/jds_sample.log
JDS_manuscript/jds_sample.out
JDS_manuscript/jds_sample.pdf
JDS_manuscript/jds_sample.synctex.gz
JDS_manuscript/jds_sample.tex
JDS_manuscript/jds_template.tex
JDS_manuscript/jdsart.cls
JDS_manuscript/Makefile
JDS_manuscript/manuscript.log
JDS_manuscript/manuscript.out
JDS_manuscript/REVISED_JDS_manuscript.aux
JDS_manuscript/REVISED_JDS_manuscript.log
JDS_manuscript/REVISED_JDS_manuscript.out
JDS_manuscript/REVISED_JDS_manuscript.pdf
JDS_manuscript/REVISED_JDS_manuscript.synctex(busy)
JDS_manuscript/REVISED_JDS_manuscript.synctex.gz
JDS_manuscript/temp_JDS_manuscript.synctex.gz
code/function_usage_details.csv
code/function_usage_summary.csv
code/functions/.Rhistory
code/unused_functions.csv
DST End Analysis.xlsx
JDS_manuscript/jds.bst
JDS_manuscript/JDS_manuscript.synctex(busy)
JDS_manuscript/JDS_manuscript.synctex.gz
JDS_manuscript/README
JDS_manuscript/README.md
*.xlsx
